.home-page-container {
    width: 99.5%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-section1-cont {
    height: 60vh;
    width: 100%;
    background-image: url('/home-background1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-title {
    font-size: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 63);
    background-color: rgba(255, 255, 255, 0.551);
    margin: 0;
}
.home-subtitle {
    width: 80%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 63);
    background-color: rgba(255, 255, 255, 0.551);
    margin: 0;
}
.home-section1-btn-cont {
    width: 100%;
    height: 20%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.home-section1-btns {
    width: 15%;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.475);
    background-color: rgba(0, 0, 183, 0.889);
    backdrop-filter: blur(5px);
}
.home-section1-btns:hover {
    scale: 1.025;
    color: white;
    cursor: pointer;
}
.home-section2-cont {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-title2 {
    font-size: 30px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(0, 0, 63);
}
.home-info {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(0, 0, 63);
    width: 80%;
}
.home-inputs {
    text-align: center;
    width: 50%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgba(210, 210, 210, 0.776);
    margin-bottom: 10px;
}
.home-inputs:hover {
    scale: 1.025;
    background-color: rgba(194, 194, 194, 0.776);
}
.home-section2-submit-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    height: 25px;
    border: none;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.636);
    background-color: rgba(1, 213, 1, 0.39);
}
.home-section2-submit-btn:hover {
    scale: 1.025;
    color: black;
    background-color: rgba(1, 213, 1, 0.607); 
    cursor: pointer;
}
.home-section2-btns-cont {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}