.navbar-main-container {
    position: relative;
    width: 99%;
    height: 10vh;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.381);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
}
.logo-cont {
    display: flex;
    align-items: center;
}
.logo-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.logo-text {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: navy;
}
.support-btn {
    border: none;
    font-size: 17.5px;
    font-weight: bold;
    color: navy;
    background-color: rgba(0, 0, 0, 0);
}
.support-btn:hover {
    scale: 1.025;
    cursor: pointer;
    color: rgb(0, 0, 197);
}