.support-page-container {
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.support-form-container {
    position: absolute;
    top: 25%;
    display: flex;
    align-items: center;
    width: 80%;
    border: none;
}
.avatar-container {
    width: 35%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://api.dicebear.com/9.x/bottts/svg?seed=settingsbot');
    background-size: cover;
    background-position: center;
}
.inputs-container {
    border-radius: 10px;
    width: 75%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.324);
    padding-bottom: 10px;
}
.support-form-title {
    margin-bottom: 0;
    text-align: center;
    color: rgb(0, 0, 95);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.support-form-info {
    text-align: center;
    color: rgb(0, 0, 95);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.support-input {
    width: 60%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(215, 215, 215);
    margin-bottom: 10px;
    text-align: center;
}
.support-message {
    width: 60%;
    height: 35%;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(215, 215, 215);
    margin-bottom: 10px;
    text-align: center;
}
.support-input:hover, .support-message:hover {
    scale: 1.025;
    background-color: rgb(237, 237, 237);
}
.support-form-submit-btn {
    width: 40%;
    border: 1px solid;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
}
.support-form-submit-btn:hover {
    color: white;
    background-color: rgba(0, 0, 95, 0.306);
    scale: 1.025;
    cursor: pointer;
}